/* Steve jobs' book */

/* @font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
} */

body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: url(https://www.esotericcuriosa.com/wp-content/uploads/2021/03/homepagebg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-family: 'Raleway',Verdana,Geneva,sans-serif;
}

body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

#canvas{
	margin: auto auto;
	width: 960px;
	height: 600px;
	/* margin: 100px auto; */
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

.sj-book{
	width:960px;
	height:600px;
}

.sj-book h1{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size: 38px;
	font-weight: lighter;
	margin: 20px 0;
	color: #333;
	-webkit-text-fill-color: #333;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.005em;
}

.sj-book h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
    font-size:16px;
	letter-spacing:2px;
	font-weight: 400;
}

.sj-book .book-content{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size:16px;
	margin: 10px 40px;
}

.sj-book blockquote{
	color:#586078;
	margin:10px 0;
	font-style:italic;
}

.sj-book blockquote:before{
	content: "\201C";
	color:#333D53;
	font-size:20px;
}

.sj-book blockquote:after{
	content: "\201D";
	color:#333D53;
	font-size:20px;
}

.sj-book cite{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	font-weight:200;
	font-style:normal;
	color:#666;
}

.sj-book .book-content .center-pic{
	margin:0;
	text-indent:0;
	text-align:center;
}

.sj-book .zoom-this:hover{
	opacity:0.9;
	cursor:pointer;
}

.sj-book .book-content p{
	text-indent: 18px;
	margin: 20px 0;
	line-height: 22px;
}

.sj-book .left-pic{
	float:left;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	transition: box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px #999;
	box-shadow:0 0 10px #999;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.zoom-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:999;
}

.zoom-pic img{
	-webkit-box-shadow:0 0 20px #999;
	box-shadow:0 0 20px #999;
}

.sj-book .p1

{
	background-color:white;
	background-image:url(https://www.esotericcuriosa.com/wp-content/uploads/2021/03/bookcove-final-1.jpg) !important;
	background-size: 105%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -6px !important;
}

.sj-book .p14 {
	transform: scaleX(-1);
	background-color:white;
	background-image:url(https://www.esotericcuriosa.com/wp-content/uploads/2021/03/bookcove-final-1.jpg) !important;
	background-size: 100%;
}


/* .sj-book .p3 {

} */

.sj-book .p1{
	background-position:0 0;
}

.sj-book .p1 .side{
	width:5px;
	height:600px;
	position:absolute;
	top:0;
	left:475px;

	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	
	-webkit-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../pics/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}


.sj-book .p2{
	background: goldenrod !important;
}


.sj-book .p13{
	background: goldenrod !important;
}

.sj-book .p14{
	background: goldenrod !important;
}

.sj-book .hard{
	width:480px;
	height:600px;
	background-color:white;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	perspective: 2000px;
}

.sj-book .own-size{
	width:460px;
	height:582px;
	background-color:white;
	overflow:hidden;
}

.sj-book .even{
	background-color:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-color:linear-gradient(left, #fff 95%, #dadada 100%);
	background-image: url(https://www.esotericcuriosa.com/wp-content/uploads/2021/03/bg6c.png?id=2194);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/* padding: 25px; */
}

.sj-book .odd{
	background-color:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-color:linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image: url(https://www.esotericcuriosa.com/wp-content/uploads/2021/03/bg6c.png?id=2194);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.sj-book .loader{
	background-image:url(../pics/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sj-book .page-number{
	color:#999;
	width:100%;
	bottom:25px;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	font-size:11px;
}

.sj-book .table-contents{
	font-size:16px;
	width:300px;
	margin:80px auto;
	color:#ccc;
}

.sj-book .table-contents li{
	list-style:none;
	line-height:25px;
}

.sj-book .table-contents span{
	float:right;
}

.sj-book .table-contents a{
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:2px 0;
	padding:0 10px;
}

.sj-book .table-contents a:hover{
	background:#CAD1EE;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent{
	text-indent: 0;
}

.sj-book .capital:first-letter {
    display:block;
    float:left;
    font-size: 300%;
    line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left:18px;
}

.ie8 .sj-book .even,
.ie9 .sj-book .even{
	background-image:url(../pics/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.ie8 .sj-book .odd,
.ie9 .sj-book .odd{
	background-image:url(../pics/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}

/* own css */

body {
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-card {
	background-color: transparent;
	width: 150px;
	height: 150px;
	perspective: 1000px;
	margin: 10px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  .flip-card-back {
	background-color: orange;
	color: white;
	transform: rotateY(180deg);
  }

  /* card css*/

  section.pricing {
	/* background: #007bff; */
	/* background: linear-gradient(to right, #0062E6, #33AEFF); */
  }
  
  .pricing .card {
	border: none;
	border-radius: 1rem;
	transition: all 0.2s;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
	margin: 1.5rem 0;
  }
  
  .pricing .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	letter-spacing: .1rem;
	font-weight: bold;
  }
  
  .pricing .card-price {
	font-size: 3rem;
	margin: 0;
  }
  
  .pricing .card-price .period {
	font-size: 0.8rem;
  }
  
  .pricing ul li {
	margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
	opacity: 0.7;
  }
  
  .pricing .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	opacity: 0.7;
	transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
	.pricing .card:hover {
	  margin-top: -.25rem;
	  margin-bottom: .25rem;
	  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}
	.pricing .card:hover .btn {
	  opacity: 1;
	}
  }

    /* card css*/


	/*blog*/

	  
	  .card-img {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	  }
	  
	  .card-title {
		margin-bottom: 0.3rem;
	  }
	  
	  .cat {
		display: inline-block;
		margin-bottom: 1rem;
	  }
	  
	  .fa-users {
		margin-left: 1rem;
	  }
	  
	  .card-footer {
		font-size: 0.8rem;
	  }

	  /* blog */


	  .book-content.contact {
		  margin: 55px 70px;
	  }